@model AppSenaJmoc.Models.Tecnico

@{
    ViewData["Title"] = "Editar Tecnico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Tecnico</h1>

<h4 a class="btn btn-success">Tecnico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Tecnico" />
            <div class="form-group">
                <label asp-for="Nombre_Tecnico" class="control-label"></label>
                <input asp-for="Nombre_Tecnico" class="form-control" />
                <span asp-validation-for="Nombre_Tecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos_Tecnico" class="control-label"></label>
                <input asp-for="Apellidos_Tecnico" class="form-control" />
                <span asp-validation-for="Apellidos_Tecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono_Tecnico" class="control-label"></label>
                <input asp-for="Telefono_Tecnico" class="form-control" />
                <span asp-validation-for="Telefono_Tecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email_Tecnico" class="control-label"></label>
                <input asp-for="Email_Tecnico" class="form-control" />
                <span asp-validation-for="Email_Tecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad_Tecnico" class="control-label"></label>
                <input asp-for="Ciudad_Tecnico" class="form-control" />
                <span asp-validation-for="Ciudad_Tecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
