@model AppSenaJmoc.Models.Equipo

@{
    ViewData["Title"] = "Crear Equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Equipos</h1>

<h4 a class="btn btn-success">Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marca_Equipo" class="control-label"></label>
                <input asp-for="Marca_Equipo" class="form-control" />
                <span asp-validation-for="Marca_Equipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_Cliente" class="control-label"></label>
                <input asp-for="Tipo_Cliente" class="form-control" />
                <span asp-validation-for="Tipo_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie_Equipo" class="control-label"></label>
                <input asp-for="Serie_Equipo" class="form-control" />
                <span asp-validation-for="Serie_Equipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Cliente" class="control-label"></label>
                <select asp-for="Id_Cliente" class ="form-control" asp-items="ViewBag.Id_Cliente"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
