@model AppSenaJmoc.Models.Detalle_factura

@{
    ViewData["Title"] = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar</h1>

<h3>Estas Seguro de Borrar este Registro?</h3>
<div>
    <h4 class="btn btn-success">Detalle_ Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad_Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad_Detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materiales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materiales.Descripcion_materiales)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Detalle_factura" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
