<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JMOC</title>
    <link rel="stylesheet" href="../css/styleindex.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header" id="inicio">

        <nav class="menu-navegacion">
            <a href="#inicio">Inicio</a>
            <a href="#servicios">Servicios</a>
            <a href="#portafolio">Portafolio</a>
            <a href="#expertos">Expertos</a>
            <a href="#contactos">Contactos</a>
            <a href="#">APP JMO</a>



        </nav>
        <div class="contenedor head">
            <h1 class="titulo">
                Especialistas en Maquinas Agroindustriales
            </h1>
            <p class="copy">Tu Confianza es Nuestra Prioridad</p>
        </div>
    </header>

    <main>
        <section class="contenedor" id="servicios">
            <h2 class="subtitulo">Nuestro Servicio </h2>
            <div class="contenedor-servicios">
                <img src="../img/jmologooficial.jpg" alt="">

                <div class="isometrica-servicios">
                    <div class="service">

                        <h3 class="n-service"><span class="number">1</span>Confianza </h3>
                        <p>
                            Somos una empresa dedicada al servicio y a la satisfaccion de nuestros
                            CLIENTES lo cual nos permite generar CONFIANZA Empresarial en el mercado de
                            Equipos y Maquinaria Agroindustrial.
                        </p>

                    </div>
                    <div class="service">

                        <h3 class="n-service"><span class="number">2</span>Seriedad</h3>
                        <p>
                            Nuestra Experiencia en el mercado de maquinaria y servicios nos permite atender
                            a nuestros Clientes con la Seriedad de nuestros trabajos y ofrecerles el mejor servicio con calidad.
                        </p>

                    </div>
                    <div class="service">

                        <h3 class="n-service"><span class="number">3</span>Puntualidad</h3>
                        <p>
                            Nuestros trabajos entregados en la fecha programada nos permite ser la empresa
                            reconocida en el mercado nacional por la Puntualidad que nos caracteriza.
                        </p>

                    </div>


                </div>
            </div>
        </section>
        <section class="gallery" id="portafolio">
            <div class="contenedor">
                <h2 class="subtitulo">Proyectos Ejecutados</h2>
                <div class="contenedor-galeria">
                    <img src="../img/jmoc02.jpg" alt="" class="img-galeria">
                    <img src="../img/imagenheader002.jpg" alt="" class="img-galeria">
                    <img src="../img/imagenpresentacionheader.jpg" alt="" class="img-galeria">
                    <img src="../img/jmoc03.jpg" alt="" class="img-galeria">
                    <img src="../img/imagenproyecto01.jpg" alt="" class="img-galeria">
                    <img src="../img/imagenproyecto02.jpg" alt="" class="img-galeria">
                </div>
            </div>
        </section>
        <section class="imagen-ligth">
            <img src="../icons/close.svg" alt="" class="close">
            <img src="../img/log02.jpg" alt="" class="agregar-imagen">
        </section>

        <section class="contenedor" id="expertos">
            <h2 class="subtitulo"> Expertos en:</h2>

            <section class="experts">
                <div class="cont-expert">
                    <img src="../img/unocopia.jpg" alt="">
                    <h3 class="n-expert">Asesoria</h3>
                </div>
                <div class="cont-expert">
                    <img src="../img/instalacion - copia.jpg" alt="">
                    <h3 class="n-expert">Instalacion</h3>
                </div>
                <div class="cont-expert">
                    <img src="../img/electric-4198293_640.jpg" alt="">
                    <h3 class="n-expert">Reparacion</h3>
                </div>
            </section>

        </section>


    </main>

    <footer id="contactos">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">JMO</h2>
                <P>Servicio Tecnico Especializado.</P>
                <P>--------------------------------------------</P>
                <P>Telefono: 304 466 3430.</P>
                <P>Email: juliomoviedo@gmail.com.</P>
                <P>Direccion: Cartagena-Bolivar(Colombia)</P>
                <P>www.jmo.com.co</P>
            </div>
            <div class="social-media">
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-instagram'></i>
                </a>
            </div>
        </div>

        <div class="line"></div>
    </footer>


    <script src="/dev/js/menu.js"></script>
    <script src="/dev/js/ligthtbox.js"></script>

</body>
</html>