@model AppSenaJmoc.Models.Cliente

@{
    ViewData["Title"] = "Creacion Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Cliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre_Cliente" class="control-label"></label>
                <input asp-for="Nombre_Cliente" class="form-control" />
                <span asp-validation-for="Nombre_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos_Cliente" class="control-label"></label>
                <input asp-for="Apellidos_Cliente" class="form-control" />
                <span asp-validation-for="Apellidos_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono_Cliente" class="control-label"></label>
                <input asp-for="Telefono_Cliente" class="form-control" />
                <span asp-validation-for="Telefono_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email_Cliente" class="control-label"></label>
                <input asp-for="Email_Cliente" class="form-control" />
                <span asp-validation-for="Email_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad_Cliente" class="control-label"></label>
                <input asp-for="Ciudad_Cliente" class="form-control" />
                <span asp-validation-for="Ciudad_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
